<html lang="en" ng-app="WikiroutesApp">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1" />
<base href="/">
<title>Wikiroutes</title>


<link rel="stylesheet"
	href="bower_components/angular-material/angular-material.css">
<link rel="stylesheet"
	href="bower_components/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon"
	href="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikipedia's_W.svg/50px-Wikipedia's_W.svg.png"
	type="image/png" />



</head>
<body layout="column" ng-controller="NavCtrl as ctrl">
	<md-toolbar id="cabecera" layout=row>
	<div flex="10">
		<h1 class="md-toolbar-tools" layout-align="left">
			<a href="/"><img
				src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikipedia's_W.svg/50px-Wikipedia's_W.svg.png" /></a>
		</h1>
	</div>
	<div flex="70">
		<h1 class="md-toolbar-tools">
			<ng-md-icon icon="search" size="36"></ng-md-icon>
			<md-autocomplete id="autocomplete" flex md-no-cache="ctrl.noCache"
				md-selected-item="ctrl.selectedItem"
				md-search-text="ctrl.searchText"
				md-items="route in ctrl.querySearch(ctrl.searchText)"
				md-item-text="route.name" placeholder="Buscar rutas"
				md-floating-label="Ruta"> <span
				md-highlight-text="ctrl.searchText">{{route.name}}</span> </md-autocomplete>
						<md-button ng-click="findByName(ctrl.selectedItem)">Buscar</md-button>
				
		</h1>
	</div>
	<div flex="20" layout-align="right">
		<h1 class="md-toolbar-tools">
			<a ng-if="user" href="/profile">Ver perfil</a>
			<a ng-if="user" ng-click="logout()" ng-if="user" href="/login"> Cerrar sesión</a>
			<a ng-if="!user" href="/login"> <ng-md-icon icon="account_box" size="36"></ng-md-icon>
				<span>Iniciar sesión</span>
			</a>
		</h1>
	</div>

	</md-toolbar>

	<md-divider></md-divider>

	<md-toolbar layout="row">
	<div flex=30></div>

	<div flex offset=40 layout="row">

		<div flex=25>
			<a href="/category/walk"><img src="img/icono_andar.png"></a>
		</div>

		<div flex=25>
			<a href="/category/bike"><img src="img/icono_bici.png"></a>
		</div>

		<div flex=25>
			<a href="/category/horse"><img src="img/icono_caballo.png"></a>
		</div>

		<div flex=25>
			<a href="/category/boat"><img src="img/icono_barco.ico"></a>
		</div>
	</div>
	<div flex=30></div>

	</md-toolbar>
	</md-toolbar>

	<div ng-view></div>

	<!-- Angular Material Dependencies -->
	<script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src='bower_components/lodash/dist/lodash.js'></script>
	<script
		src='bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/ng-droplet/dist/ng-droplet.js"></script>
	<script src="bower_components/progressbar.js/dist/progressbar.js"></script>
	<script
		src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/slick-carousel/slick/slick.js"></script>
	<script src="bower_components/angular-slick/dist/slick.js"></script>

	<script src="app/services.js"></script>
	<script src="app/app.js"></script>
</body>
</html>
