.angular-google-map-container {
	height: 100%;
}

.md-divider {
	margin-top: 10px;
	margin-bottom: 10px;
}

#top {
	z-index: 0;
}

.carousel-img {
	width: 100%;
}

.slick-prev, .slick-next {
	display: none;
}

ng-md-icon * {
	vertical-align: middle;
}

#cabecera {
	left: 0;
	top: 0;
	width: 100%;
}

#eslogan {
	height: 900px;
	width: 100%;
}

#fotoEslogan {
	max-width: 100%;
	max-height: 100%;
}