<div layout="row" layout-align="space-around start">
	<div>
		<h1>Carlos Vázquez Sánchez</h1>
		<div layout="column">
			<div>
				<a class="twitter-timeline" href="https://twitter.com/XupeCharly"
					data-widget-id="599260601614004225">Tweets by @XupeCharly</a>
				<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/
								.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + "://platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
				</script>

				<h1 class="md-toolbar-tools">
					<a href="https://github.com/cavasanchez"> <ng-md-icon
							icon="cloud" size="36"></ng-md-icon> <span>Github</span>
					</a>
				</h1>

				<h1 class="md-toolbar-tools">
					<a
						href="https://es.linkedin.com/pub/carlos-vázquez-sánchez/a6/2b2/572">
						<ng-md-icon icon="work" size="36"></ng-md-icon> <span>Linkedin</span>
					</a>
				</h1>
			</div>
		</div>
	</div>
	<div>
		<h1>Germán Alonso Azcutia</h1>
	</div>
	<div>
		<h1>Jose Ignacio Escribano Pablos</h1>
	</div>
</div>





