<div>
	<md-content class="md-padding"> <md-tabs md-dynamic-height
		md-border-bottom> <md-tab label="Germán"> <md-content
		class="md-padding">
	<h4>Germán Alonso Azcutia</h4>
	<p>Administración y monitorización de un servidor propio (hardware
		y software). Especialización en configuración, administración y
		programación con servidores. Fundador de Emezeta (2004), blog con más
		de medio millón de visitas mensuales actualmente. Desarrollo una tira
		cómica informática: La tira de Bit y Byte (ahora Stickmanz).
		Desarrollo completo de un Gestor CMS propio para el blog usando
		tecnologías como PHP, SQL, Perl, Javascript, HTML/CSS. Desarrollo de
		un sistema de ranking de blogs, comparando diferentes puntualizaciones
		del mundo SEO: Emezeta Rank. Desarrollo de aplicaciones Android,
		algunas de ellas con más de 80.000 descargas.</p>
	<div flex>
		<div layout="row" layout-align="start center">
			<div flex="10"></div>

			<div flex="10">
				<a href="https://github.com/baos99"> <img width="65%"
					src="../img/github-icon.png" />
				</a>
			</div>
		</div>
	</div>
	</md-content> </md-tab> <md-tab label="José"> <md-content class="md-padding">
	<h4>José Ignacio Escribano Pablos</h4>
	<p>Conocimiento a nivel avanzado en sistemas operativos: MSDOS,
		Windows 95/98/ME, Windows 2000/NT/XP/Vista/7. Distribuciones Linux
		(especialmente, basadas en Debian). Conocimientos a nivel avanzado en
		hardware. Conocimientos a nivel avanzado en software. Alto
		conocimiento en limpieza y desinfección de virus informáticos y otros
		malwares. Programación Programación de sistemas en BASH a nivel medio
		Programación en Java (Android) a nivel medio. Programación en Perl a
		nivel avanzado. Programación de sistemas en C/C++ a nivel avanzado.
		Programación en Pascal a nivel medio Programación en Java a nivel
		medio. Programación en SQL a nivel avanzado Conocimientos en KOP
		(autómatas Siemens) a nivel básico. Conocimientos en LISP a nivel
		básico. Entornos web Programación (X)HTML estándar a nivel experto
		HTML5 a nivel medio CSS de nivel 2 estándar a nivel avanzado.
		Javascript a nivel básico JQuery a nivel básico PHP a nivel avanzado</p>
	<div flex>
		<div layout="row" layout-align="start center">
			<div flex="10"></div>
			<div flex="10">
				<a href="https://github.com/jiep"> <img width="65%"
					src="../img/github-icon.png" />
				</a>
			</div>

		</div>
	</div>
	</md-content> </md-tab> <md-tab label="Carlos"> <md-content class="md-padding">
	<h4>Carlos Vázquez Sánchez</h4>
	<p>Programación: C/C++, Pascal, PHP, Visual Basic, Modula II,
		JavaScript, J2ME Bases de Datos DB2, Oracle, MySQL, SQL Server, Access
		Diseño Páginas Web Lenguaje HTML, Macromedia Dreamweaver en todas sus
		versiones, Comercio electrónico, Gestión de CMS (PHP-NUKE, Wordpress,
		Mambo, Drupal, etc.), Promoción Web, alta en buscadores, WAP. Diseño
		Gráfico Adobe Photoshop, Adobe ImageReady, Flash MX, Swish, Corel
		Draw, Ulead Cool 3D, Autocad Sistemas Operativos Windows en todas sus
		versiones desde la 3.1 hasta XP, Servidores Windows NT , Windows 2000
		y 2003, Linux (Fedora Core, Suse, Ubuntu), Novell AIX 5.3, 6.1 Redes y
		Administración de Sistemas y Servidores Gran conocimiento de
		protocolos y servicios en Internet, Montaje de servidores Web
		(incluyendo mod_ssl, mod_security, mod_perl, mod_rewrite, php, mysql,
		htaccess, webalizer, awstats), Instalación y administración de Redes,
		Montaje de ordenadores, a nivel Software y Hardware, Alta experiencia
		herramientas de administración: Cpanel, WHM, webmin, Virtualmin,
		Monitorización de sistemas con MRTG, RRDtool, Zabbix,. Servidor de
		bases de datos SQL: MySQL, Servidores DNS BIND 8.x/9.x Administración
		del Gestor Documental: Fatwire 7.x (Oracle WebCenter Sites) y
		Analytics Fatwire Servidores de aplicaciones: WebSphere 6.x, Tomcat.</p>
	<div flex>
		<div layout="row" layout-align="start center">
			<div flex="10"></div>

			<div flex="10">
				<a href="https://github.com/cavasanchez"><img width="45%"
					src="../img/Twitter-icon.png" />
			</div>
			<div flex="10">
				<a href="https://github.com/cavasanchez"> <img width="65%"
					src="../img/github-icon.png" />
				</a>
			</div>
			<div flex="10">
				<a
					href="https://es.linkedin.com/pub/carlos-vázquez-sánchez/a6/2b2/572">
					<img width="45%" src="../img/linkedin-icon.png" />
				</a>
			</div>
		</div>
	</div>
	</md-content> </md-tab> </md-tabs> </md-content>
</div>





