<div>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Germán">
        <md-content class="md-padding">
        <h3 class="md-display-2">Germán Alonso Azcutia</h3>
        <div flex>
				<div layout="row" layout-align="start center">
					<div flex="10"></div>

					<div flex="10">
						<a href="https://github.com/baos99"> <img width="65%"
							src="../img/github-icon.png" />
						</a>
					</div>
				</div>
			</div>
       </md-content>
      </md-tab>
      <md-tab label="José">
        <md-content class="md-padding">
          <h3 class="md-display-2">José Ignacio Escribano Pablos</h3>
          <div flex>
				<div layout="row" layout-align="start center">
					<div flex="10"></div>
					<div flex="10">
						<a href="https://github.com/jiep"> <img width="65%"
							src="../img/github-icon.png" />
						</a>
					</div>

				</div>
			</div>
         </md-content>
      </md-tab>
      <md-tab label="Carlos">
        <md-content class="md-padding">
          <h3 class="md-display-2">Carlos Vázquez Sánchez</h3> 
          <div flex>
				<div layout="row" layout-align="start center">
					<div flex="10"></div>

					<div flex="10">
						<a href="https://github.com/cavasanchez"><img width="60%"
							src="../img/Twitter-icon.png" />
					</div>
					<div flex="10">
						<a href="https://github.com/cavasanchez"> <img width="65%"
							src="../img/github-icon.png" />
						</a>
					</div>
					<div flex="10">
						<a
							href="https://es.linkedin.com/pub/carlos-vázquez-sánchez/a6/2b2/572">
							<img width="60%" src="../img/linkedin-icon.png" />
						</a>
					</div>
				</div>
			</div>
          </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>






<div ng-include="'templates/footer.html'"></div>





