<footer id="footer">
	<md-toolbar class="md-medium-tall">
	<div layout="row" layout-margin>
		<div flex flex-order="1">
			<h1 class="md-toolbar-tools" layout-align="left">
				<a href="/"><img
					src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikipedia's_W.svg/50px-Wikipedia's_W.svg.png" /></a>

			</h1>
		</div>
		<div flex flex-order="2">
			<h1 class="md-toolbar-tools" layout-align="left">

				<div layout="column" layout-align="center start">
					<div>Ayuda</div>
					<a href="/developers"><div>Desarrolladores</div></a>

				</div>
			</h1>
		</div>
		<div flex flex-order="3">
			<h1 class="md-toolbar-tools" layout-align="left">Twitter</h1>
		</div>

	</div>

	</md-toolbar>
</footer>