<footer id="footer">
	<md-toolbar class="md-medium">
	<div layout="row">
		<div flex flex-order="1">
			<h1 class="md-toolbar-tools" layout-align="left">
				<a href="/"><img
					src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikipedia's_W.svg/50px-Wikipedia's_W.svg.png" /></a>

			</h1>
		</div>
		<div flex flex-order="2">
			<h1 class="md-toolbar-tools" layout-align="left">
				<a href="/developers"><div>Desarrolladores</div></a>
			</h1>
		</div>
		<div flex flex-order="3">
			<h1 class="md-toolbar-tools" layout-align="left">Ayuda</h1>
		</div>

	</div>

	</md-toolbar>
</footer>