<md-content layout-padding style="padding: 0px" ng-controller="HomeCtrl">
<div layout="row">
	<div ng-include="'templates/eslogan.html'"></div>
</div>


<div layout="row">
	<div md-container flex="100">
		<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="md-flex">
				<strong>Nuestras rutas más valoradas</strong>
			</h2>
		</div>
		</md-toolbar>
		
		<div><p ng-show="!routes.length">Todavía no tenemos rutas disponibles</p></div>

		<div ng-repeat="route in routes">
			<md-list-item class="md-3-line">
			<div layout="row">
				<div flex="20">
					<md-card class="card"> <img ng-src="data:image/png;base64,{{route.image}}"
						class="md-avatar" /> </md-card>
				</div>
				<div flex="80">
					<div class="md-list-item-text">
						<a href="/route/{{route.id}}"><h3>{{route.name}}</h3></a>
						<h4>{{route.description}}</h4>
					</div>
				</div>
			</div>
			</md-list-item>
			<md-divider></md-divider>

			</md-toolbar>
		</div>
	</div>

</div>

</md-content>
<div ng-include="'templates/footer.html'"></div>
