<md-content layout-padding style="padding: 50px"
	ng-controller="LoginCtrl">
<div layout="row">
	<div flex="15"></div>
	<div flex="30">

		<md-list> <md-list-item>
		<h3 class="md-title">¿No tienes cuenta? ¡Registrate!</h3>
		</md-list-item> <md-list-item>
		<p>Crea tus propias rutas</p>
		</md-list-item> <md-list-item>
		<p>Visita todo tipo de rutas</p>
		</md-list-item> <md-list-item>
		<p>Comparte tus rutas con tus redes sociales</p>
		</md-list-item> <md-list-item>
		<p>¡Diviertete buscando las rutas más interesantes del mundo!</p>
		</md-list-item> </md-list>

		
	 <a href="/register"><md-button
				md-no-ink class="md-accent">Registrarse</md-button></a>
	</div>
				

	<div flex="5"></div>
	<div flex="30">
		<h3 class="md-title">Miembros de WikiRoute</h3>
		<md-content layout-padding>
		<form name="loginForm" ng-submit="login(user)">
			<md-input-container> <label>Nombre de
				usuario</label> <input md-maxlength="10" required name="username"
				ng-model="user.userName">
			<div ng-messages="loginForm.userName.$error">
				<div ng-message="required">Campo requerido</div>
				<div ng-message="md-maxlength">El nombre de usuario es
					demasiado largo</div>
			</div>
			</md-input-container>
			<md-input-container> <label>Contraseña</label> <input
				type="password" required name="pass" ng-model="user.pass">
			<div ng-messages="loginForm.pass.$error">
				<div ng-message="required">Campo requerido</div>
			</div>
			<p ng-show="message">{{message}}</p>
			</md-input-container>

			<md-input-container layout-align="right"> <md-button md-no-ink class="md-primary">Iniciar
				sesión </md-button>
			</md-input-container>
		</form>
		</md-content>
	</div>
	<div flex="10"></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</md-content>


<div ng-include="'templates/footer.html'"></div>

