<md-content layout-padding style="padding: 50px" ng-controller="MapCtrl">
<form name="editRouteForm" ng-submit="createRoute(route)">
	<div layout="row" layout-align="end center">
	
		<md-button class="md-fab md-primary" aria-label="Use Android" layout-align="right">
          <ng-md-icon icon="add" style="fill: 24px" size="24"></ng-md-icon> 
        </md-button>
	</div>
	<md-input-container> <label>Nombre de la
		ruta</label> <input md-maxlength="50" required name="username"
		ng-model="route.name"> </md-input-container>
	<md-input-container> <label>Descripción</label> <textarea
		md-maxlength="400" required name="description"
		ng-model="route.description">
		</textarea> </md-input-container>
	<md-radio-group ng-model="route.type" ng-required="true">
	<md-radio-button value="WALK" class="md-primary" required>A
	pie</md-radio-button> <md-radio-button value="BIKE" required> Bicicleta
	</md-radio-button> <md-radio-button value="HORSE" required>A caballo </md-radio-button> <md-radio-button
		value="BOAT" required>Barco</md-radio-button></md-radio-group>
	<md-switch ng-model="route.isPrivate"> Configurar la ruta
	como <strong>{{ route.isPrivate ? 'privada' : 'pública' }}</strong> </md-switch>
	<br> <br>
	<md-input-container>
	<div layout="row">
		<div flex>
			<ui-gmap-google-map center="map.center" zoom="map.zoom"
				draggable="true" options="options" bounds="map.bounds"
				events="map.events"> <ui-gmap-polyline
				path="polyline.path" stroke="polyline.stroke"
				visible='polyline.visible' geodesic='polyline.geodesic' fit="false"
				editable="polyline.editable" draggable="polyline.draggable"
				icons='polyline.icons' events="polyline.events"></ui-gmap-polyline>
			</ui-gmap-google-map>
		</div>
	</div>
	</md-input-container>
	<br> <br>
</form>
</md-content>
<div ng-include="'templates/footer.html'"></div>
