<md-content layout-padding style="padding: 50px" ng-controller="PreferencesCtrl">
<div layout="row">
<div flex="33">
</div>
<div flex="33">

	<div flex="50">
	
			<md-button ng-click="removeUser(user)" class="md-raised md-primary"
					layout-align="right">
				<h3>Borrar cuenta</h3>
				</md-button>
			</a>
		</div>

	<md-content layout-padding>
		<form name="loginForm" ng-submit="changeProfile(user)">
			<md-input-container>
				<label>Nombre de usuario: {{user.userName}}</label>
			</md-input-container>
			<md-input-container>
				<label>Contraseña</label>
				<input type="password" required name="pass" ng-model="user.pass">
				<div ng-messages="loginForm.pass.$error">
					<div ng-message="required">Campo requerido</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Correo electrónico</label>
				<input type="email" required name="email" ng-model="user.email">
				<div ng-messages="loginForm.email.$error">
					<div ng-message="required">Campo requerido</div>
				</div>
			</md-input-container>
			<md-input-container>
			<md-input-container layout-align="right">
				<md-button md-no-ink class="md-primary">Editar</md-button>
			</md-input-container>

		</form>
	</md-content>

</div>
<div flex="33">
</div>
</div>
</md-content>
