<md-content layout-padding style="padding: 50px"
	ng-controller="HomeCtrl">
<div layout="row">
	<div md-container flex="30">
		<div layout="column">
			<div flex="60">
				<div class="md-list-item-text">
					<h3>NOMBRE USUARIO</h3>
				</div>
			</div>
			<div flex="40">
				<md-card class="card"> <img ng-src="/img/foto_user.png"
					class="md-avatar" alt="{{item.who}}" /> </md-card>
			</div>
		</div>
	</div>

	<div md-container flex="70">
		<div layout="column">
			<div layout="row" layout-align="end center">
				<a href="#/editRoute"> <md-button class="md-raised md-primary"
						layout-align="right">
					<h3>Añadir ruta</h3>
					</md-button>
				</a>
			</div>
			<div layout="row">

				<md-content layout-padding style="height: 600px;padding: 24px">

				<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 class="md-flex">
						<strong>Tus rutas</strong>
					</h2>
				</div>
				</md-toolbar>

				<div ng-repeat="route in routes">
					<md-list-item class="md-3-line">
					<div layout="row">
						<div flex="20">
							<md-card class="card"> <img ng-src="/img/nature4.jpg"
								class="md-avatar" alt="{{item.who}}" /> </md-card>
						</div>
						<div flex="60">
							<div class="md-list-item-text">
								<h3>{{route.name}}</h3>
								<h4>{{route.description}}</h4>
								<p>{{route.user}}</p>
							</div>
						</div>
						<div flex="20">
							<div layout="column">
								<div>
									<span><ng-md-icon icon="lock" size="36"></ng-md-icon></span> <span><ng-md-icon
											icon="mode_edit" size="36"></ng-md-icon></span> <span><ng-md-icon
											icon="clear" size="36"></ng-md-icon></span>
								</div>
								<div>
									<span><ng-md-icon icon="comment" size="36"></ng-md-icon></span>
								</div>
							</div>
						</div>
					</div>
					</md-list-item>
					<md-divider></md-divider>

					</md-toolbar>
				</div>
				</md-content>
			</div>
		</div>
	</div>
</div>
</md-content>
<div ng-include="'templates/footer.html'"></div>
