<md-content layout-padding style="padding: 50px"
	ng-controller="ProfileCtrl">
<div layout="row">
	<div flex="50">
		<div style='margin: 0 auto 0 auto;'>
			<h1>
				<strong>¡Hola, {{user.userName}}!</strong>
			</h1>
		</div>

	</div>
	<div flex="50">

		<a href="/newRoute"> <md-button class="md-raised md-primary"
				layout-align="right">
			<h3>Añadir ruta</h3>
			</md-button>
		</a>
		<a href="/preferences"> <md-button class="md-raised md-primary"
				layout-align="right">
			<h3>Editar perfil</h3>
			</md-button>
		</a>
	</div>
</div>
<div layout="row">



	<md-content layout-padding
		style="height: 600px;padding: 24px;width:80%;margin: 0 auto 0 auto;">

	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2 class="md-flex">
			<strong>Tus rutas</strong>
		</h2>
	</div>
	</md-toolbar>

	<div ng-repeat="route in user.routes">
		
			<md-list-item class="md-3-line">
			<div layout="row">
				<div flex="20">
					<md-card class="card"> <img ng-src="/img/nature4.jpg"
						class="md-avatar" /> </md-card>
				</div>
				<div flex="60">
					<div class="md-list-item-text">
						<a href="/viewRoute/{{route.id}}"><h3>{{route.name}}</h3></a>
						<h4>{{route.description | limitTo:50}}...</h4>
						<p>{{route.user}}</p>
					</div>
				</div>
				<div flex="20">
					<div layout="column">
						<div>
							<span>
							<ng-md-icon ng-if="route.private" icon="lock_outline" size="36"></ng-md-icon>
							<ng-md-icon ng-if="!route.private" icon="lock_open" size="36"></ng-md-icon>
							
							</span> 
							<a href="/editRoute/{{route.id}}"><span>
								<ng-md-icon icon="mode_edit" size="36"></ng-md-icon>
							</span> </a>
							<span>
								<ng-md-icon icon="clear" size="36"></ng-md-icon>
							</span>
						</div>
						<div>
							<span><ng-md-icon icon="comment" size="36"></ng-md-icon></span>
						</div>
					</div>
				</div>
			</div>
			</md-list-item>
		<md-divider></md-divider>
		</md-toolbar>
	</div>
	</md-content>
</div>
</md-content>
<div ng-include="'templates/footer.html'"></div>
