
      
      

      <md-content layout-padding style="padding: 50px" ng-controller="LoginCtrl">

  <md-content layout-padding>
    <form name="loginForm">
      <md-input-container>
        <label>Nombre de usuario</label>
        <input md-maxlength="10" required name="username" ng-model="login.username">
        <div ng-messages="loginForm.username.$error">
          <div ng-message="required">Campo requerido</div>
          <div ng-message="md-maxlength">El nombre de usuario es demasiado largo</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Contraseña</label>
        <input type="password" required name="pass" ng-model="login.pass">
        <div ng-messages="loginForm.pass.$error">
          <div ng-message="required">Campo requerido</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Correo electrónico</label>
        <input type="email" required name="email" ng-model="login.email">
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required">Campo requerido</div>
          <div ng-message="email">El correo electrónico es inválido</div>
        </div>
      </md-input-container>
      <md-input-container>
		  <md-checkbox class="md-primary" ng-model="login.notifications" name="notifications" aria-label="notificaciones">
		  Quiero recibir notificaciones al correo electrónico {{login.email}} de parte de mis amigos
		</md-checkbox>
      </md-input-container>
      <md-input-container layout-align="right">
		<md-button md-no-ink class="md-primary">Registrarse</md-button>
      </md-input-container>
      
      
    </form>
  </md-content>

</md-content>