<md-content layout-padding style="padding: 50px" ng-controller="SearchByCategoryCtrl">
	<div layout="row">
	<strong>Rutas encontradas:</strong>
	<md-content layout-padding style="height: 400px;padding: 24px;">
	<div ng-repeat="route in routes">
		<md-list-item class="md-3-line">
		<div layout="row">
				<div flex="20">
					<md-card class="card"> <img ng-src="/img/nature4.jpg" /> </md-card>
				</div>
			<div flex="60">
				<div class="md-list-item-text">
						<h3>{{route.name}}</h3>
						<h4>{{route.description}}</h4>
						<p>{{route.user.userName}}</p>
				</div>
			</div>
			<div flex="20">
			   <div layout="column">
				<div>
					<a href="/route/{{route.id}}"><span><ng-md-icon icon="add" size="36"></a>
				</div>
			  </div>
			</div>
		</div>
		</md-list-item>
	</div>
	</md-content>
	</div>
</md-content>
<div ng-include="'templates/footer.html'"></div>
