<md-content layout-padding style="padding: 50px"
	ng-controller="SearchByCategoryCtrl">
<div layout="row">
	<md-content layout-padding
		style="height: 600px;padding: 24px;width:80%;margin: 0 auto 0 auto;">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2 class="md-flex">
			<strong>Rutas encontradas:</strong>
		</h2>
	</div>
	</md-toolbar>
	<div ng-repeat="route in routes">
		
			<md-list-item class="md-3-line">
			<!--  <div layout="row">-->
				<div flex="20">
					<md-card class="card"> <img ng-src="/img/nature4.jpg"
						class="md-avatar" /> </md-card>
				</div>
				<div flex="60">
					<div class="md-list-item-text">
						<h3>{{route.name}}</h3>
						<h4>{{route.description}}</h4>
						<p>{{route.user.userName}}</p>
					</div>
				</div>
				<div flex="20">
						<div>
					<a href="/route/{{route.id}}"><span><ng-md-icon icon="search" size="36"></a>
				</div>
				</div>
			<!--</div>-->
		</md-list-item>
		<md-divider></md-divider>
	</div>
	</md-content>
</div>
</md-content>