<md-content layout-padding style="padding: 50px">
	<form name="editRoute">
	<md-input-container>
		<label>Nombre de usuario</label>
		<input md-maxlength="10" required name="username" ng-model="login.username" readonly>
	</md-input-container>
	<br>
	<br>
	<md-input-container>		
		<div layout="row" ng-controller="MapCtrl">
		<div flex>
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" events="map.events">
				<ui-gmap-polyline path="polyline.path" stroke="polyline.stroke" visible='polyline.visible' geodesic='polyline.geodesic' fit="false" draggable="polyline.draggable" icons='polyline.icons' events="polyline.events"></ui-gmap-polyline>
			</ui-gmap-google-map>
		</div>
		</div>
	</md-input-container>
		<br>
		<br>
	<md-input-container>
		<label>Descripción</label>
		<textarea md-maxlength="400" required name="description"  ng-model="string" readonly>
		</textarea>
	</md-input-container>
	</form>
</md-content>