<md-content layout-padding style="padding: 50px"
	ng-controller="ViewPublicRouteCtrl"> 
<md-toolbar layout-align="center center">
	<h1><strong>{{route.name}}</strong></h1>
</md-toolbar>
</br>
<br>
<h2>{{route.type}}</h2>
<br>
<md-input-container>
<div layout="row">
	<div flex>
		<ui-gmap-google-map center="map.center" zoom="map.zoom"
			draggable="true" options="options" bounds="map.bounds"
			events="map.events"> <ui-gmap-polyline
			path="polyline.path" stroke="polyline.stroke"
			visible='polyline.visible' geodesic='polyline.geodesic' fit="false"
			editable="polyline.editable" draggable="polyline.draggable"
			icons='polyline.icons' events="polyline.events"> </ui-gmap-polyline>
		</ui-gmap-google-map>
	</div>
</div>
</md-input-container> <br>
<br>
<h2>{{route.description}}</h2>


<md-toolbar layout-align="center center">
	<h3><strong>Comentarios</strong></h3>
</md-toolbar>

<h3 ng-show="!route.comments.length">No hay comentarios para esta ruta</h3>

<div ng-repeat="comment in route.comments">
	<md-list-item class="md-3-line">
	<div layout="row">
		<h1>{{comment.comment}}</h1>
	</div>
	</md-list-item>
</div>

<md-divider></md-divider>

<md-content ng-show="user">
<form name="CommentForm" ng-submit="newcomment(new_comment)">
	<md-input-container> <textarea md-maxlength="250"
		name="comment" ng-model="new_comment" placeholder="Introduce tu comentario" required></textarea> </md-input-container>

	<md-input-container layout-align="right"> <md-button
		md-no-ink class="md-primary">Añade tu comentario</md-button> </md-input-container>
</form>
</md-content> 

</md-content>
<div ng-include="'templates/footer.html'"></div>
