<md-content layout-padding style="padding: 50px"
	ng-controller="ViewPublicRouteCtrl">
<h2 class="md-display-3">{{route.name}}</h2>
<md-divider></md-divider> <br>
{{route.type}} angular.equals(route.type, BOAT);
<div ng-if="route.type == WALK">
	Ruta a pie. ¡Encuentra más rutas de este tipo! <a href="#/category/walk"><img
		src="img/icono_andar.png"></a>
</div>
<div ng-if="route.type == BIKE">
	Ruta en bicicleta. ¡Encuentra más rutas de este tipo! <a
		href="#/category/bike"><img src="img/icono_bici.png"></a>
</div>
<div ng-if="route.type == HORSE">
	Ruta a caballo. ¡Encuentra más rutas de este tipo! <a
		href="#/category/horse"><img src="img/icono_caballo.png"></a>
</div>
<div ng-if="route.type == BOAT">
	Ruta en barco. ¡Encuentra más rutas de este tipo! <a
		href="#/category/boat"><img src="img/icono_barco.ico"></a>
</div>
<br>


<br>
<md-input-container>
<div layout="row">
	<div flex>
		<ui-gmap-google-map center="map.center" zoom="map.zoom"
			draggable="true" options="options" bounds="map.bounds"
			events="map.events"> <ui-gmap-polyline
			path="polyline.path" stroke="polyline.stroke"
			visible='polyline.visible' geodesic='polyline.geodesic' fit="false"
			editable="polyline.editable" draggable="polyline.draggable"
			icons='polyline.icons' events="polyline.events"> </ui-gmap-polyline>
		</ui-gmap-google-map>
	</div>
</div>
</md-input-container> <br>
<br>
<md-divider></md-divider> <br>

<h3>Descripción de la ruta:</h3>

<p>{{route.description}}</p>


</md-content>
