<md-content layout-padding style="padding: 50px"
	ng-controller="MapViewCtrl">


<h2 class="md-display-3">{{route.name}}</h2>
<md-divider></md-divider> <br>
<label>Categoria: {{route.type}}</label>
<br>

<md-card class="card"> <img ng-src="data:image/png;base64,{{route.image}}" err-src="img/placeholder.png"
				class="md-avatar" /> </md-card>

<br>
<md-input-container>
<div layout="row">
	<div flex>
		<ui-gmap-google-map center="map.center" zoom="map.zoom"
			draggable="true" options="options" bounds="map.bounds"
			events="map.events"> <ui-gmap-polyline
			path="polyline.path" stroke="polyline.stroke"
			visible='polyline.visible' geodesic='polyline.geodesic' fit="false"
			editable="polyline.editable" draggable="polyline.draggable"
			icons='polyline.icons' events="polyline.events"> </ui-gmap-polyline>
		</ui-gmap-google-map>
	</div>
</div>
</md-input-container> <br>
<br>
<md-divider></md-divider> <br>

<h3>Descripción de la ruta:</h3>

<p>{{route.description}}</p>

<md-divider></md-divider>

<div ng-show="!route.isPrivate">
	<md-toolbar layout-align="center center">
	<h4>
		<strong>Comentarios</strong>
	</h4>
	</md-toolbar>

	<p ng-show="!route.comments.length">No hay comentarios para esta
		ruta</p>

	<div ng-repeat="comment in route.comments">
		<md-list-item class="md-3-line">
		<div layout="row">
			<p>{{comment.comment}}</p>
		</div>
		</md-list-item>
	</div>

	<md-divider></md-divider>

	<md-content>
	<form name="CommentForm" ng-submit="newcomment(new_comment)">
		<md-input-container> <textarea md-maxlength="250"
			name="comment" ng-model="new_comment"
			placeholder="Introduce tu comentario" required></textarea> </md-input-container>

		<md-input-container layout-align="right"> <md-button
			md-no-ink class="md-primary">Añade tu comentario</md-button> </md-input-container>
	</form>
	</md-content>
</div>

</md-content>
